body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff; /* Warna latar belakang jika gambar tidak dimuat */
    background-image: url('background 1.jpeg'); /* Gambar latar belakang */
    background-size: cover; /* Ukuran gambar sesuai layar */
    background-position: center; /* Posisi gambar di tengah */
    background-repeat: no-repeat; /* Gambar tidak diulang */
    margin: 0;
    padding: 0;
}

.layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}